<nav class="navbar navbar-expand-lg" [ngClass]="{
  'navbar-mode-light': themeColor =='light',
  'navbar-mode-dark': themeColor =='dark',
  'navbar-mode-danger': themeColor =='danger'
}">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" [routerLinkActive]="['active']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['hello']" [routerLinkActive]="['active']">Hello</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['cars']" [routerLinkActive]="['active']">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['settings']" [routerLinkActive]="['active']">Settings</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" [formGroup]="loginForm" *ngIf="showLoginForm">
      <input formControlName ="email" class="form-control mr-sm-2" type="Text" placeholder="Email" aria-label="Email">
      <div class="input-group mr-sm-2">
        <input formControlName= "password" class="form-control" [type]="inputPasswordType" placeholder="Password" aria-label="Password">
        <div class="input-group-append" (click)="viewToggle()">
          <span class="input-group-text" id="basic-addon2"><i class="fa fa-eye"></i></span>
        </div>
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Login</button>
    </form>
    <div class="form-inline my-2 my-lg 0" *ngIf="!showLoginForm">
      <h5>Welcome, {{ userDetails.first_name }} {{ userDetails.last_name }}</h5>
      <button class="btn btn-outline-dark my-2 my-sm-0 ml-2" (click)="logOut()">LogOut</button>
    </div>
  </div>
</nav>
