<div class="card">
  <div class="card-header">
    <i class="fa fa-cog mr-1"></i>Settings
  </div>
  <div class="card-body">
    <div class="row form-group">
      <label for="" class="col-3 text-right">Theme menu</label>
      <div class="col-8">
        <select name="" id="" class="form-control" #settingTheme (change)="settingServices.theme = settingTheme.value">
          <option value="light">light</option>
          <option value="dark">dark</option>
          <option value="danger">danger</option>
        </select>
      </div>
    </div>
  </div>
</div>

